Infrastructure/Service References/Services.PatientManagerServices.CommandProcessorService/PatientManager.Contract.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PatientManager.Contract.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PatientManager.Contract.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ValueObjects.ContactInformation" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ValueObjects.Health" />
  <xs:complexType name="ContactInfoDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ValueObjects.ContactInformation" minOccurs="0" name="Address" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ValueObjects.ContactInformation" minOccurs="0" name="PrimaryPhoneNumber" nillable="true" type="q2:PhoneNumber" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ValueObjects.ContactInformation" minOccurs="0" name="SecondaryPhoneNumber" nillable="true" type="q3:PhoneNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactInfoDto" nillable="true" type="tns:ContactInfoDto" />
  <xs:complexType name="HealthIdentificationDto">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ValueObjects.Health" minOccurs="0" name="Healthcard" nillable="true" type="q4:Healthcard" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HealthIdentificationDto" nillable="true" type="tns:HealthIdentificationDto" />
  <xs:complexType name="PatientDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ValueObjects.Health" minOccurs="0" name="Gender" type="q5:GenderType" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDto" nillable="true" type="tns:PatientDto" />
  <xs:complexType name="PatientVisitDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Diagnosis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientVisitDto" nillable="true" type="tns:PatientVisitDto" />
</xs:schema>