Infrastructure/Service References/Services.PatientManagerServices.CommandProcessorService/ValueObjects.Wcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ValueObjects.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ValueObjects.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MyValidator">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfMyValidationFailure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyValidator" nillable="true" type="tns:MyValidator" />
  <xs:complexType name="ArrayOfMyValidationFailure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyValidationFailure" nillable="true" type="tns:MyValidationFailure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyValidationFailure" nillable="true" type="tns:ArrayOfMyValidationFailure" />
  <xs:complexType name="MyValidationFailure">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyValidationFailure" nillable="true" type="tns:MyValidationFailure" />
  <xs:complexType name="MyConcurrencyIndicator">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyConcurrencyIndicator" nillable="true" type="tns:MyConcurrencyIndicator" />
</xs:schema>