Infrastructure/Service References/Services.FinanceManagerServices.QueryProcessorService/FinanceManager.Contract.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FinanceManager.Contract.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FinanceManager.Contract.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ValueObjects.Finance" />
  <xs:complexType name="ArrayOfFinancialTransactionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialTransactionDto" nillable="true" type="tns:FinancialTransactionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinancialTransactionDto" nillable="true" type="tns:ArrayOfFinancialTransactionDto" />
  <xs:complexType name="FinancialTransactionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="ser:guid" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ValueObjects.Finance" minOccurs="0" name="Money" nillable="true" type="q1:Money" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ValueObjects.Finance" minOccurs="0" name="TransactionType" type="q2:TransactionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialTransactionDto" nillable="true" type="tns:FinancialTransactionDto" />
  <xs:complexType name="ArrayOfFinancialAccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialAccountDto" nillable="true" type="tns:FinancialAccountDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinancialAccountDto" nillable="true" type="tns:ArrayOfFinancialAccountDto" />
  <xs:complexType name="FinancialAccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialAccountDto" nillable="true" type="tns:FinancialAccountDto" />
</xs:schema>