Infrastructure/Service References/Services.FinanceManagerServices.CommandProcessorService/FinanceManager.Contract.Commands.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FinanceManager.Contract.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FinanceManager.Contract.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FinanceManager.Contract.Dto" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AddFinancialTransactionCommand">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FinanceManager.Contract.Dto" minOccurs="0" name="Transaction" nillable="true" type="q1:FinancialTransactionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddFinancialTransactionCommand" nillable="true" type="tns:AddFinancialTransactionCommand" />
  <xs:complexType name="AddFinancialAccountCommand">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FinanceManager.Contract.Dto" minOccurs="0" name="Account" nillable="true" type="q2:FinancialAccountDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddFinancialAccountCommand" nillable="true" type="tns:AddFinancialAccountCommand" />
  <xs:complexType name="RemoveFinancialTransactionCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="ser:guid" />
      <xs:element minOccurs="0" name="TransactionId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveFinancialTransactionCommand" nillable="true" type="tns:RemoveFinancialTransactionCommand" />
  <xs:complexType name="RemoveFinancialAccountCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveFinancialAccountCommand" nillable="true" type="tns:RemoveFinancialAccountCommand" />
  <xs:complexType name="UpdateFinancialTransactionCommand">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FinanceManager.Contract.Dto" minOccurs="0" name="Transaction" nillable="true" type="q3:FinancialTransactionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateFinancialTransactionCommand" nillable="true" type="tns:UpdateFinancialTransactionCommand" />
  <xs:complexType name="UpdateFinancialAccountCommand">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FinanceManager.Contract.Dto" minOccurs="0" name="Account" nillable="true" type="q4:FinancialAccountDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateFinancialAccountCommand" nillable="true" type="tns:UpdateFinancialAccountCommand" />
</xs:schema>