Infrastructure/Service References/Services.FinanceManagerServices.CommandProcessorService/ValueObjects.Finance.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ValueObjects.Finance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ValueObjects.Finance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Money">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Money" nillable="true" type="tns:Money" />
  <xs:simpleType name="TransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debit" />
      <xs:enumeration value="Credit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionType" nillable="true" type="tns:TransactionType" />
</xs:schema>